# 1 - Input

In [ ]:
#import modules
import pandas as pd
import os

In [ ]:
path=os.environ['USERPROFILE']+r'/OneDrive/BDA1/'
path

In [ ]:
'C:/Users/bdaon/OneDrive/BDA1/'

## csv

In [ ]:
#python

csv_file = path+r"/data/tips.csv"
csv_file

In [ ]:
#dataframe
df_from_csv = pd.read_csv(r'C:/Users/bdaon/OneDrive/BDA1/data/tips.csv')

df_from_csv.head()

In [ ]:
df_from_csv.tail()

In [ ]:
#sql
'''BULK INSERT credit_train
    FROM 'C:\Business_Data_Analysis\data\credit_train.csv'
    WITH
    (
    FIRSTROW = 2,
    FIELDTERMINATOR = ',',  --CSV field delimiter
    ROWTERMINATOR = '\n',   --Use to shift the control to next row
    ERRORFILE = 'C:\CSVDATA\SchoolsErrorRows.csv',
    TABLOCK
    )'''

In [ ]:
#SAS
proc import datafile='tips.csv' dbms=csv out=tips replace;
    getnames=yes;
run;

#dataset

## text file

In [ ]:
#python
mydata = pd.read_table("C:\\Desktop\\example2.txt")
mydata = pd.read_csv("C:\\Desktop\\example2.txt", sep ="\t")

## excel

In [ ]:
#python
excel_file = path+r"\data\AdventureWorks Sales.xlsx"
df_from_excel = pd.read_excel(excel_file)
df_from_excel.head()

## SAS

In [ ]:
df_from_sas = pd.read_sas(path+r"\data\life.sas7bdat")
df_from_sas.head()

## data structure: list,Dict, Array

In [ ]:
list [1,2,'erw']   dictionary {'a':1, 'b':3} 
array([[-0.48479077, -0.51541263,  1.02174233,  0.2940478 ],
       [ 0.00671131, -1.73351438,  1.50997736,  1.48942854],
       [ 0.64740529,  0.1355594 , -1.04325823,  0.36031536],
       [ 1.37617244, -2.41264344,  1.18923317, -0.35403184],
       [ 0.37270292, -0.17271254, -1.03702008,  0.3676547 ],
       [ 0.49852348,  0.85627004, -0.84514847,  0.63807985]])

In [ ]:
#sql 
CREATE TABLE table_name (
    column1 datatype,
    column2 datatype,
    column3 datatype,
   ....
);

INSERT INTO table_name (column1, column2, column3, ...)
VALUES (value1, value2, value3, ...);

In [ ]:
#python
import numpy as np
df2 = pd.DataFrame({ 'A' : 1.,
                        'B' : pd.Timestamp('20130102'),
                        'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                        'D' : np.array([3] * 4,dtype='int32'),
                        'E' : pd.Categorical(["test","train","test","train"]),
                        'F' : 'foo' })
   
df2

In [ ]:
#SAS
data df;
    input x y;
    datalines;
    1 2
    3 4
    5 6
    ;
run;

## database

In [ ]:
import pyodbc
import urllib
import sqlalchemy

params_datahub = urllib.parse.quote_plus("DRIVER={SQL Server Native Client 11.0};"
                                 "SERVER=localhost\SQLEXPRESS;"
                                 "DATABASE=datahub;"
                                 "UID=sa;"
                                 "PWD=user1")

engine_datahub = sqlalchemy.create_engine("mssql+pyodbc:///?odbc_connect={}".format(params_datahub))

In [ ]:
df_sales_p=pd.read_sql_table('tips',engine_datahub)


df_sales_p.head()

## internet

In [ ]:
import requests
response = requests.get("http://api.open-notify.org/astros.json")
print(response.status_code)
print(response.json())
res = pd.DataFrame(response.json()["people"])
res.head()

## API

In [ ]:
# %pip install pandas_datareader
from pandas_datareader import data
import datetime as dt
zm = data.DataReader(
    "BAC",
    start='2022-9-10',
    end=dt.datetime.today(),
    data_source='yahoo'
).reset_index()
zm.head()

In [ ]:
# %pip install selenium
# %pip install webdriver-manager
import requests

def get_news(country, api_key='890603a55bfa47048e4490069ebee18c'):
  url = f'https://newsapi.org/v2/top-headlines?country={country}&apiKey={api_key}'
  r = requests.get(url)
  content = r.json()
  articles = content['articles']
  results = []
  for article in articles:
    results.append(f"TITLE\n'{article['title']}, '\nDESCRIPTION\n', {article['description']}")
  return results

display(get_news(country='us'))

# 2- Processing

In [ ]:
csv_file = path+r"\data\tips.csv"
tips = pd.read_csv(csv_file)

In [ ]:
tips

## Select

In [ ]:
#sql
'''SELECT total_bill, tip, smoker, time FROM tips;'''

In [ ]:
#python
tips[["total_bill", "tip", "smoker", "time"]]

In [ ]:
#SAS
data tips;
    set tips;
    keep total_bill tip smoker time;
run;

### rename Column

In [ ]:
#sql
select *,total_bill as total_bill_2 
from tips

In [ ]:
help(tips.rename)

In [ ]:
#python
tips.rename(columns={"total_bill": "total_bill_2"})

In [ ]:
#sas
data tips;
    set tips;
    rename total_bill=total_bill_2;
run;

### Add Column

In [ ]:
#sql
'''SELECT *, tip/total_bill as tip_rate
FROM tips;'''

In [ ]:
tips["tip"]/tips["total_bill"]

In [ ]:
#python
tips['tip_rate']=tips["tip"] / tips["total_bill"]
# tips.assign(tip_rate=tips["tip"] / tips["total_bill"])

In [ ]:
#SAS
data tips;
    set tips;
    tip_rate = tip/total_bill;
run;

### Delete Column

In [ ]:
#sql

In [ ]:
tips

In [ ]:
#python
tips = tips.drop("tip_rate", axis=1)
tips

In [ ]:
#sas
data tips;
    set tips;
    drop tip_rate;
run;

## Sort

In [ ]:
#sql
select * from tips
order by tip

In [ ]:
tips.sort_values

In [ ]:
#python
tips.sort_values(by='tip')

In [ ]:
#SAS
proc sort data=tips;
    by tip;
run;

## Where

In [ ]:
#sql
'''SELECT * FROM tips WHERE time = 'Dinner';'''

In [ ]:
#python
tips[tips["time"] == "Dinner"]
# tips.query('time=="Dinner"')

In [ ]:
#sas
data tips;
    set tips;
    if time="Dinner";
run;

data tips;
    set tips;
    where time="Dinner";
    /* equivalent in this case - where happens before the
       DATA step begins and can also be used in PROC statements */
run;

### i - and or

In [ ]:
#sql
'''SELECT *
FROM tips
WHERE time = 'Dinner' AND tip > 5.00;'''

In [ ]:
#python
tips[(tips["time"] == "Dinner") & (tips["tip"] > 5.00)]

In [ ]:
#python
tips.query('time=="Dinner" and tip>5')

In [ ]:
#sql
'''SELECT *
FROM tips
WHERE size >= 5 OR total_bill > 45;'''

In [ ]:
#python
tips[(tips["size"] >= 5) | (tips["total_bill"] > 45)]

In [ ]:
#python
tips.query('size>=5 or total_bill>45')

In [ ]:
#sas
data tips;
    set tips;
    if total_bill > 10;
run;

data tips;
    set tips;
    where total_bill > 10;
    /* equivalent in this case - where happens before the
       DATA step begins and can also be used in PROC statements */
run;

### ii - null

In [ ]:
import numpy as np

frame = pd.DataFrame(
    {"col1": ["A", "B", np.NaN, "C", "D"], "col2": ["F", np.NaN, "G", "H", "I"]}
)
frame

In [ ]:
#sql
'''SELECT *
FROM frame
WHERE col2 IS NULL;'''

In [ ]:
#python
frame[frame["col2"].isna()]

In [ ]:
#sql
'''SELECT *
FROM frame
WHERE col1 IS NOT NULL;'''

In [ ]:
#python
frame[frame["col1"].notna()]

In [ ]:
#sas

data df1;

input key $1 value 12.6;

datalines;
A  0.469112
B -0.282863
C -1.509059
D -1.135632
;

data df2;

input key $1 value 12.6;

datalines;
B  1.212112
D -0.173215
D  0.119209
E -1.044236
;

proc sort data=df1;
    by key;
run;

proc sort data=df2;
    by key;
run;

data left_join inner_join right_join outer_join;
    merge df1(in=a) df2(in=b);

    if a and b then output inner_join;
    if a then output left_join;
    if b then output right_join;
    if a or b then output outer_join;
run;


data outer_join_nulls;
    set outer_join;
    if value_x = .;
run;

data outer_join_no_nulls;
    set outer_join;
    if value_x ^= .;
run;

## Case when

In [ ]:
#sql
select *, 
case when total_bill<10 then 'low' else 'high' end as bucket
from tips

In [ ]:
#python
tips["bucket"] = np.where(tips["total_bill"] < 10, "low", "high")
tips

In [ ]:
#sas
data tips;
    set tips;
    format bucket $4.;

    if total_bill < 10 then bucket = 'low';
    else bucket = 'high';
run;

## Date

In [ ]:
#sql

select '2013-01-15' as date1, '2015-02-15' as date2 , year('2013-01-15') as date1_year, month('2015-02-15') as date2_month,

from tips

In [ ]:
pd.Timestamp

In [ ]:
#python

tips["date1"] = pd.Timestamp("2013-01-15")
tips.info()

In [ ]:
tips

In [ ]:
tips["date2"] = pd.Timestamp("2015-02-15")

tips["date1_year"] = tips["date1"].dt.year

tips["date2_month"] = tips["date2"].dt.month

tips["date1_next"] = tips["date1"] + pd.offsets.MonthBegin()

tips["months_between"] = tips["date2"].dt.to_period("M") - tips["date1"].dt.to_period("M")

tips[
    ["date1", "date2", "date1_year", "date2_month", "date1_next", "months_between"]
]

In [ ]:
#sas
data tips;
    set tips;
    format date1 date2 date1_next mmddyy10.;
    date1 = mdy(1, 15, 2013);
    date2 = mdy(2, 15, 2015);
    date1_year = year(date1);
    date2_month = month(date2);
    * shift date to beginning of next interval;
    date1_next = intnx('MONTH', date1, 1);
    * count intervals between dates;
    months_between = intck('MONTH', date1, date2);
run;

## String processing

In [ ]:
#PYTHON 
tips["time"].str.len()

tips["time"].str.rstrip().str.len()

In [ ]:
#SAS

data _null_;
set tips;
a=LENGTHN(time);
b=LENGTHC(time);
put a=;
put b=;
run;

In [ ]:
#python
tips["sex"].str.find("ale")

In [ ]:
#sas
data _null_;
set tips;
a=FIND(sex,'ale');
put a=;
run;

In [ ]:
#python
tips["sex"].str[0:1]

In [ ]:
#SAS
data _null_;
set tips;
put(substr(sex,1,1));
run;

In [ ]:
#python

firstlast = pd.DataFrame({"String": ["John Smith", "Jane Cook"]})

firstlast["First_Name"] = firstlast["String"].str.split(" ", expand=True)[0]

firstlast["Last_Name"] = firstlast["String"].str.rsplit(" ", expand=True)[1]

firstlast

In [ ]:
#sas
data firstlast;
input String $60.;
First_Name = scan(string, 1);
Last_Name = scan(string, -1);*count from right;
datalines;
John Smith
Jane Cook
;
run;

In [ ]:
#python
firstlast = pd.DataFrame({"string": ["John Smith", "Jane Cook"]})

firstlast["upper"] = firstlast["string"].str.upper()

firstlast["lower"] = firstlast["string"].str.lower()

firstlast["title"] = firstlast["string"].str.title()

firstlast

In [ ]:
#sas
data firstlast;
input String $60.;
string_up = UPCASE(string);
string_low = LOWCASE(string);
string_prop = PROPCASE(string);
datalines2;
John Smith
Jane Cook
;;;
run;

## Group

In [ ]:
#sql
'''SELECT sex, count(*)
FROM tips
GROUP BY sex;'''

In [ ]:
#python
tips.groupby("sex").size()

In [ ]:
#python
print(tips.groupby("sex")["total_bill"].sum(),
tips.groupby("sex")["total_bill"].count(),
tips.groupby("sex")["total_bill"].mean())

In [ ]:
#sql
'''SELECT day, AVG(tip), COUNT(*)
FROM tips
GROUP BY day;'''

In [ ]:
#python
tips.groupby("day").agg({"tip": np.mean, "day": np.size})

In [ ]:
#sql
'''SELECT smoker, day, COUNT(*), AVG(tip)
FROM tips
GROUP BY smoker, day;'''

In [ ]:
#python
tips.groupby(["smoker", "day"]).agg({"tip": [np.size, np.mean]})

In [ ]:
#SAS

proc summary data=tips nway;
    class sex smoker;
    var total_bill tip;
    output out=tips_summed sum=;
run;

or 

PROC SQL;
SELECT smoker, day, COUNT(*), AVG(tip)
FROM tips
GROUP BY smoker, day;
QUIT;

In [ ]:
#sas
proc sort data=tips;
   by sex smoker;
run;

data tips_first;
    set tips;
    by sex smoker;
    if FIRST.sex or FIRST.smoker then output;
run;

## join

In [ ]:
df1 = pd.DataFrame({"key": ["A", "B", "C", "D"], "value1": np.random.randn(4)})

df2 = pd.DataFrame({"key": ["B", "D", "D", "E"], "value2": np.random.randn(4)})

In [ ]:
#sql

'''SELECT *
FROM df1
INNER JOIN df2
  ON df1.key = df2.key;'''

In [ ]:
df1,df2

In [ ]:
#python
pd.merge(df1, df2, on="key")

In [ ]:
#sql
'''SELECT *
FROM df1
LEFT OUTER JOIN df2
  ON df1.key = df2.key;'''

In [ ]:
#python
pd.merge(df1, df2, on="key", how="left")

In [ ]:
#sql
'''SELECT *
FROM df1
RIGHT OUTER JOIN df2
  ON df1.key = df2.key;'''

In [ ]:
#python

pd.merge(df1, df2, on="key", how="right")

In [ ]:
#SAS
proc sort data=df1;
    by key;
run;

proc sort data=df2;
    by key;
run;

data left_join inner_join right_join outer_join;
    merge df1(in=a) df2(in=b);

    if a and b then output inner_join;
    if a then output left_join;
    if b then output right_join;
    if a or b then output outer_join;
run;

## Union

In [ ]:
df1 = pd.DataFrame({"city": ["Chicago", "San Francisco", "New York City"], "rank": range(1, 4)})

df2 = pd.DataFrame({"city": ["Chicago", "Boston", "Los Angeles"], "rank": [1, 4, 5]})
display(df1)
display(df2)

In [ ]:
#SQL
'''SELECT city, rank
FROM df1
UNION ALL
SELECT city, rank
FROM df2;'''
/*
         city  rank
      Chicago     1
San Francisco     2
New York City     3
      Chicago     1
       Boston     4
  Los Angeles     5
*/

In [ ]:
#PYTHON
pd.concat([df1, df2])

In [ ]:
#SQL

'''SELECT city, rank
FROM df1
UNION
SELECT city, rank
FROM df2;'''
-- notice that there is only one Chicago record this time
/*
         city  rank
      Chicago     1
San Francisco     2
New York City     3
       Boston     4
  Los Angeles     5
*/

In [ ]:
#PYTHON
pd.concat([df1, df2]).drop_duplicates()

In [ ]:
#SAS

DATA TIPS_UNION;

SET TIPS TIPS;

RUN;


PROC SORT DATA = TIPS_UNION NODUP;
BY _all_;
RUN;

## Limit

In [ ]:
#SQL
'''SELECT top 10 * FROM tips
LIMIT 10;'''

In [ ]:
#PYTHON
tips.head(10)

In [ ]:
#SAS
proc print data=tips(obs=5);
run;

## Top n rows with offset

In [ ]:
'''SELECT * FROM tips
ORDER BY tip DESC
LIMIT 10 OFFSET 5;'''

In [ ]:
tips.nlargest(10 + 5, columns="tip").tail(10)

In [ ]:
tips.nlargest(10, columns="tip").tail(10)

## Top n rows per group

In [ ]:
'''-- Oracle's ROW_NUMBER() analytic function
SELECT * FROM (
  SELECT
    t.*,
    ROW_NUMBER() OVER(PARTITION BY day ORDER BY total_bill DESC) AS rn
  FROM tips t
) temp
WHERE rn < 3
ORDER BY day, rn'''

In [ ]:
tips.assign(
        rn=tips.sort_values(["total_bill"], ascending=False)
    .groupby(["day"]).cumcount()+ 1).query("rn < 3").sort_values(["day", "rn"])

In [ ]:
tips.assign(
        rn=tips.sort_values(["total_bill"], ascending=False)
    .groupby(["day"]).cumcount()+ 1).query("rn < 3").sort_values(["day", "rn"])

In [ ]:
(
    tips.assign(
        rnk=tips.groupby(["day"])["total_bill"].rank(
            method="first", ascending=False
        )
    )
    .query("rnk < 3")
    .sort_values(["day", "rnk"])
)

## Update

In [ ]:
'''UPDATE tips
SET tip = tip*2
WHERE tip < 2;'''

In [ ]:
tips.loc[tips["tip"] < 2, "tip"] *= 2
tips

## Delete

In [ ]:
'''DELETE FROM tips
WHERE tip > 9;'''

In [ ]:
tips=tips[tips["tip"] <= 9]
tips

# 3 - Output

## to csv

In [ ]:
tips

In [ ]:
#python
tips.to_csv("tips3.csv")

In [ ]:
#SAS
proc export data=tips outfile='tips2.csv' dbms=csv;
run;

## to database

In [ ]:
#python
tips.to_sql('tips_output_6',engine_datahub,if_exists='replace',index=False)