# 4 Doing Some Math
[pyspark Doc](https://spark.apache.org/docs/2.4.5/api/python/index.html)

Doing some calculations is a common task for us when we are writing ETL jobs, e.g. when amounts need to be aligned to the domestic currency (for us mostly EUR) or when we need to unify the scaling of numeric values. 

Applying math functions becomes even more impartant to me, when it comes to analytical queries and Key Performance Indicator calculation. So today, we want to have a closer look at the following pyspark sub-modules and classes: 
* `pyspar.sql.functions`
* `pyspark.sql.GroupedData`
* `pyspark.sql.DataFrameStatFunctions`

## Some Data Preperation

In [66]:
from pyspark_start import *

In [67]:
df = spark.read\
   .format("csv")\
   .option("header", "true")\
   .option("inferSchema", "true")\
   .load("./data/retail-data/by-day/*.csv")

In [25]:
df.printSchema()

root
 |-- InvoiceNo: string (nullable = true)
 |-- StockCode: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Quantity: integer (nullable = true)
 |-- InvoiceDate: timestamp (nullable = true)
 |-- UnitPrice: double (nullable = true)
 |-- CustomerID: double (nullable = true)
 |-- Country: string (nullable = true)

In [68]:
df.show(10)

+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
|InvoiceNo|StockCode|         Description|Quantity|        InvoiceDate|UnitPrice|CustomerID|       Country|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
|   580538|    23084|  RABBIT NIGHT LIGHT|      48|2011-12-05 08:38:00|     1.79|   14075.0|United Kingdom|
|   580538|    23077| DOUGHNUT LIP GLOSS |      20|2011-12-05 08:38:00|     1.25|   14075.0|United Kingdom|
|   580538|    22906|12 MESSAGE CARDS ...|      24|2011-12-05 08:38:00|     1.65|   14075.0|United Kingdom|
|   580538|    21914|BLUE HARMONICA IN...|      24|2011-12-05 08:38:00|     1.25|   14075.0|United Kingdom|
|   580538|    22467|   GUMBALL COAT RACK|       6|2011-12-05 08:38:00|     2.55|   14075.0|United Kingdom|
|   580538|    21544|SKULLS  WATER TRA...|      48|2011-12-05 08:38:00|     0.85|   14075.0|United Kingdom|
|   580538|    23126|FELTCRAFT GIRL AM...|       8|2011-12-05 08:38:00|     4.95|   14075.0|United Kingdom|
|   580538|    21833|CAMOUFLAGE LED TORCH|      24|2011-12-05 08:38:00|     1.69|   14075.0|United Kingdom|
|   580539|    21479|WHITE SKULL HOT W...|       4|2011-12-05 08:39:00|     4.25|   18180.0|United Kingdom|
|   580539|   84030E|ENGLISH ROSE HOT ...|       4|2011-12-05 08:39:00|     4.25|   18180.0|United Kingdom|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
only showing top 10 rows

Looking at the derived schema and a small data sample shows, that Spark interpretes the Customer ID as as decimal numbers (double). Actually they are integers and so we therefore we want to get rid of the decimals. 

Rounding to zero decimals is not a good option, because the result is still a *double* having a decimal.

In [69]:
from pyspark.sql.functions import round

df.select("InvoiceNO", 
          "StockCode", 
          "Quantity", 
          "UnitPrice", 
          round("CustomerID",0), 
          "Country")\
    .show(10)

+---------+---------+--------+---------+--------------------+--------------+
|InvoiceNO|StockCode|Quantity|UnitPrice|round(CustomerID, 0)|       Country|
+---------+---------+--------+---------+--------------------+--------------+
|   580538|    23084|      48|     1.79|             14075.0|United Kingdom|
|   580538|    23077|      20|     1.25|             14075.0|United Kingdom|
|   580538|    22906|      24|     1.65|             14075.0|United Kingdom|
|   580538|    21914|      24|     1.25|             14075.0|United Kingdom|
|   580538|    22467|       6|     2.55|             14075.0|United Kingdom|
|   580538|    21544|      48|     0.85|             14075.0|United Kingdom|
|   580538|    23126|       8|     4.95|             14075.0|United Kingdom|
|   580538|    21833|      24|     1.69|             14075.0|United Kingdom|
|   580539|    21479|       4|     4.25|             18180.0|United Kingdom|
|   580539|   84030E|       4|     4.25|             18180.0|United Kingdom|
+---------+---------+--------+---------+--------------------+--------------+
only showing top 10 rows

Since this is more an data type issue, rather than a calculation problem, type casting is more appropriate here.

In [70]:
from pyspark.sql.functions import col 

df.select("InvoiceNO", 
          "StockCode", 
          "Quantity", 
          "UnitPrice", 
          col("CustomerID").cast("integer"), 
          "Country")\
    .show(10)

+---------+---------+--------+---------+----------+--------------+
|InvoiceNO|StockCode|Quantity|UnitPrice|CustomerID|       Country|
+---------+---------+--------+---------+----------+--------------+
|   580538|    23084|      48|     1.79|     14075|United Kingdom|
|   580538|    23077|      20|     1.25|     14075|United Kingdom|
|   580538|    22906|      24|     1.65|     14075|United Kingdom|
|   580538|    21914|      24|     1.25|     14075|United Kingdom|
|   580538|    22467|       6|     2.55|     14075|United Kingdom|
|   580538|    21544|      48|     0.85|     14075|United Kingdom|
|   580538|    23126|       8|     4.95|     14075|United Kingdom|
|   580538|    21833|      24|     1.69|     14075|United Kingdom|
|   580539|    21479|       4|     4.25|     18180|United Kingdom|
|   580539|   84030E|       4|     4.25|     18180|United Kingdom|
+---------+---------+--------+---------+----------+--------------+
only showing top 10 rows

Next we want to calculate the amount for each invoice position.

In [29]:
from pyspark.sql.functions import col 

df.select("InvoiceNO", 
          "StockCode", 
          "Quantity", 
          "UnitPrice",
          (col("Quantity") * col("UnitPrice")).alias("Amount"),
          col("CustomerID").cast("integer"), 
          "Country")\
    .show(10)

+---------+---------+--------+---------+------------------+----------+--------------+
|InvoiceNO|StockCode|Quantity|UnitPrice|            Amount|CustomerID|       Country|
+---------+---------+--------+---------+------------------+----------+--------------+
|   580538|    23084|      48|     1.79|             85.92|     14075|United Kingdom|
|   580538|    23077|      20|     1.25|              25.0|     14075|United Kingdom|
|   580538|    22906|      24|     1.65|39.599999999999994|     14075|United Kingdom|
|   580538|    21914|      24|     1.25|              30.0|     14075|United Kingdom|
|   580538|    22467|       6|     2.55|15.299999999999999|     14075|United Kingdom|
|   580538|    21544|      48|     0.85|              40.8|     14075|United Kingdom|
|   580538|    23126|       8|     4.95|              39.6|     14075|United Kingdom|
|   580538|    21833|      24|     1.69|             40.56|     14075|United Kingdom|
|   580539|    21479|       4|     4.25|              17.0|     18180|United Kingdom|
|   580539|   84030E|       4|     4.25|              17.0|     18180|United Kingdom|
+---------+---------+--------+---------+------------------+----------+--------------+
only showing top 10 rows

Ok, we forgot to round the amount to two decimals.

In [30]:
from pyspark.sql.functions import col, round 

df.select("InvoiceNO", 
          "StockCode", 
          "Quantity", 
          "UnitPrice",
          round((col("Quantity") * col("UnitPrice")), 2).alias("Amount"),
          col("CustomerID").cast("integer"), 
          "Country")\
    .show(10)

+---------+---------+--------+---------+------+----------+--------------+
|InvoiceNO|StockCode|Quantity|UnitPrice|Amount|CustomerID|       Country|
+---------+---------+--------+---------+------+----------+--------------+
|   580538|    23084|      48|     1.79| 85.92|     14075|United Kingdom|
|   580538|    23077|      20|     1.25|  25.0|     14075|United Kingdom|
|   580538|    22906|      24|     1.65|  39.6|     14075|United Kingdom|
|   580538|    21914|      24|     1.25|  30.0|     14075|United Kingdom|
|   580538|    22467|       6|     2.55|  15.3|     14075|United Kingdom|
|   580538|    21544|      48|     0.85|  40.8|     14075|United Kingdom|
|   580538|    23126|       8|     4.95|  39.6|     14075|United Kingdom|
|   580538|    21833|      24|     1.69| 40.56|     14075|United Kingdom|
|   580539|    21479|       4|     4.25|  17.0|     18180|United Kingdom|
|   580539|   84030E|       4|     4.25|  17.0|     18180|United Kingdom|
+---------+---------+--------+---------+------+----------+--------------+
only showing top 10 rows

Now we save the intermediate results of  our data preperation in a variable, to keep the further analytical queries more simple. By decomposing  our query into a preperation part and an analytical part, we get the option to check, that the intermediat results are correct and so they a the appropriate foundation of  our analysis.

In [31]:
#transformations -- DAG planning optimization
preparedDf = df.select(
    "InvoiceNO", 
    "InvoiceDate",
    "StockCode", 
    "Quantity", 
    "UnitPrice",
    round((col("Quantity") * col("UnitPrice")), 2).alias("Amount"),
    col("CustomerID").cast("integer"), 
    "Country")

#action
preparedDf.show(10)

+---------+-------------------+---------+--------+---------+------+----------+--------------+
|InvoiceNO|        InvoiceDate|StockCode|Quantity|UnitPrice|Amount|CustomerID|       Country|
+---------+-------------------+---------+--------+---------+------+----------+--------------+
|   580538|2011-12-05 08:38:00|    23084|      48|     1.79| 85.92|     14075|United Kingdom|
|   580538|2011-12-05 08:38:00|    23077|      20|     1.25|  25.0|     14075|United Kingdom|
|   580538|2011-12-05 08:38:00|    22906|      24|     1.65|  39.6|     14075|United Kingdom|
|   580538|2011-12-05 08:38:00|    21914|      24|     1.25|  30.0|     14075|United Kingdom|
|   580538|2011-12-05 08:38:00|    22467|       6|     2.55|  15.3|     14075|United Kingdom|
|   580538|2011-12-05 08:38:00|    21544|      48|     0.85|  40.8|     14075|United Kingdom|
|   580538|2011-12-05 08:38:00|    23126|       8|     4.95|  39.6|     14075|United Kingdom|
|   580538|2011-12-05 08:38:00|    21833|      24|     1.69| 40.56|     14075|United Kingdom|
|   580539|2011-12-05 08:39:00|    21479|       4|     4.25|  17.0|     18180|United Kingdom|
|   580539|2011-12-05 08:39:00|   84030E|       4|     4.25|  17.0|     18180|United Kingdom|
+---------+-------------------+---------+--------+---------+------+----------+--------------+
only showing top 10 rows

## Aggregations
### Aggregating on DataFrames
First we want to apply several aggregation functions on the entire dataset in the `DataFrame` to do some data profiling. To make the output more readable, we switch `show()` to vertical output to get many rows instead of many columns.

In [73]:
from pyspark.sql.functions import *

preparedDf\
    .select(
        count("Amount").alias("count"), 
        countDistinct("Amount").alias("countDistinct"),
        approx_count_distinct("Amount", rsd=0.1).alias("approx_count_distinct"),
        sum("Amount").alias("sum"), 
        sumDistinct("Amount").alias("sumDistinct"),
        min("Amount").alias("min"), 
        max("Amount").alias("max"), 
        avg("Amount").alias("avg"), 
        mean("Amount").alias("mean"), 
        variance("Amount").alias("variance"), 
        var_samp("Amount").alias("var_samp"),
        var_pop("Amount").alias("var_pop"),
        stddev("Amount").alias("stddev"),
        kurtosis("Amount").alias("kurtosis"),
        skewness("Amount").alias("skewness"),
        first("Amount").alias("first"),
        last("Amount").alias("last")
    )\
    .show(vertical=True)

-RECORD 0------------------------------------
 count                 | 541909
 countDistinct         | 5827
 approx_count_distinct | 5417
 sum                   | 9747747.929999981
 sumDistinct           | 863586.9200000006
 min                   | -168469.6
 max                   | 168469.6
 avg                   | 17.987794869618295
 mean                  | 17.987794869618295
 variance              | 143497.6400055403
 var_samp              | 143497.6400055403
 var_pop               | 143497.37520528786
 stddev                | 378.8108235063253
 kurtosis              | 151196.60137753293
 skewness              | -0.9643865070855122
 first                 | 3.26
 last                  | 163.5

There are further aggregating we don't have a use case in  our example here, functions like:
* **corr(col1, col2)** - returns a new Column for the Pearson Correlation Coefficient for col1 and col2
* **covar_pop(col1, col2)** - returns a new Column for the population covariance of col1 and col2
* **covar_samp(col1, col2)** - Returns a new Column for the sample covariance of col1 and col2

Most of the aggregation function names are self-explaining, so nothing to comment on. Just first() and last() are a bit special. In contrast to most of the other aggregation functions, `first()` and `last()` both refer to the value **position** in the dataset and not to the value **amount**, like `min()` and `max()` do. So `first()` and `last()` are the only aggregation functions, being affected by data sorting.

Back to data profiling. The ratio between count and countDistinct is an important indicator to identify key candidate columns. For primary keys, the ratio must be 1, i.e. countDistinct must equal the total count of values so it's cardinality must be also 1 to ensure uniqueness. 

Even though not beeing unique, columns with low cardinality are still candidates for performant data acess patterns. The cardinality is a measure of the average number of rows we will get when filtering in such a column value.

The reverse value of cardinality, the entropy, is an indicator how compressible a column is. `DataFrames` having many columns with low entropy benefit much from a columnar storage format. On the other extreme, primary key columns are not compressible at all.

In [74]:
preparedDf\
    .select(
        count("Amount").alias("count"), 
        countDistinct("Amount").alias("countDistinct")
    )\
    .withColumn("cardinality", col("count") / col("countDistinct"))\
    .withColumn("entropy", col("countdistinct") / col("count"))\
    .show(vertical=True)

-RECORD 0-----------------------------
 count         | 541909
 countDistinct | 5827
 cardinality   | 92.99965677020765
 entropy       | 0.010752727856522036

Not suprisingly the amount column is not a key candidate but it is very interesting, that the cardinality is quite high. Maybe there are only a few standard unit prices and/or lot sizes we can put orders on. Let's compare it with the *InvoiceNO* column. The column name sounds like a key.

In [34]:
preparedDf\
    .select(
        count("InvoiceNo").alias("count"), 
        countDistinct("InvoiceNo").alias("countDistinct")
    )\
    .withColumn("cardinality", col("count") / col("countDistinct"))\
    .withColumn("entropy", col("countdistinct") / col("count"))\
    .show(vertical=True)

-RECORD 0-----------------------------
 count         | 541909
 countDistinct | 25900
 cardinality   | 20.923127413127414
 entropy       | 0.047794002314041656

Ok, this column has a much lower cardinality but stii it is not a unique key. The reason is, that the retail dataset is denormalized and the granularity is not based on invoices but on stock items. Since each invoice can list multiple stock items, we need to combine InviceNo and StockCode to get a unique key. Let's check, if this solves  our problem.

In [35]:
keyedDf = preparedDf.select(
    concat_ws('-', "InvoiceNO","StockCode").alias("Key"),
    "InvoiceNO", 
    "InvoiceDate",
    "StockCode", 
    "Quantity", 
    "UnitPrice",
    "Amount",
    "CustomerID", 
    "Country")

keyedDf.show(10)

+-------------+---------+-------------------+---------+--------+---------+------+----------+--------------+
|          Key|InvoiceNO|        InvoiceDate|StockCode|Quantity|UnitPrice|Amount|CustomerID|       Country|
+-------------+---------+-------------------+---------+--------+---------+------+----------+--------------+
| 580538-23084|   580538|2011-12-05 08:38:00|    23084|      48|     1.79| 85.92|     14075|United Kingdom|
| 580538-23077|   580538|2011-12-05 08:38:00|    23077|      20|     1.25|  25.0|     14075|United Kingdom|
| 580538-22906|   580538|2011-12-05 08:38:00|    22906|      24|     1.65|  39.6|     14075|United Kingdom|
| 580538-21914|   580538|2011-12-05 08:38:00|    21914|      24|     1.25|  30.0|     14075|United Kingdom|
| 580538-22467|   580538|2011-12-05 08:38:00|    22467|       6|     2.55|  15.3|     14075|United Kingdom|
| 580538-21544|   580538|2011-12-05 08:38:00|    21544|      48|     0.85|  40.8|     14075|United Kingdom|
| 580538-23126|   580538|2011-12-05 08:38:00|    23126|       8|     4.95|  39.6|     14075|United Kingdom|
| 580538-21833|   580538|2011-12-05 08:38:00|    21833|      24|     1.69| 40.56|     14075|United Kingdom|
| 580539-21479|   580539|2011-12-05 08:39:00|    21479|       4|     4.25|  17.0|     18180|United Kingdom|
|580539-84030E|   580539|2011-12-05 08:39:00|   84030E|       4|     4.25|  17.0|     18180|United Kingdom|
+-------------+---------+-------------------+---------+--------+---------+------+----------+--------------+
only showing top 10 rows

In [36]:
keyedDf\
    .select(
        count("Key").alias("count"), 
        countDistinct("Key").alias("countDistinct")
    )\
    .withColumn("cardinality", col("count") / col("countDistinct"))\
    .withColumn("entropy", col("countdistinct") / col("count"))\
    .show(vertical=True)

-RECORD 0---------------------------
 count         | 541909
 countDistinct | 531225
 cardinality   | 1.0201120052708363
 entropy       | 0.9802845127133891

Mh, we are getting close but there are still some duplicates. Maybe there are some Null values in these columns. we would need ot investigate it furthr down, but we leave this for now because another phenomenon confuses me, there are two versions of counting in Spark:
* `DataFrame.count()`
* `pyspark.sql.functions.count()`

The `DataFrame.count()` method is always applied on the entire `DataFrame` and counts the total number of physical rows in it. Additionally this method is an action and not a transformation, because the count number is directy determined and returned. On the other hand `pyspark.sql.functions.count()` is an aggregation function counting non-Null values which is applied on grouped data defined by a grouping key `DataFrame.groupBy()`or a window function. Aggregation functions define lazly evaluated transformations. 
## Aggregating on Grouped Data
Aggregating on the entire DataFrame will show us just in row.

In [37]:
preparedDf\
    .select(
        sum("Amount").alias("sum"), 
        min("Amount").alias("min"), 
        max("Amount").alias("max"), 
        avg("Amount").alias("avg"), 
        mean("Amount").alias("mean")
    )\
    .show()

+-----------------+---------+--------+------------------+------------------+
|              sum|      min|     max|               avg|              mean|
+-----------------+---------+--------+------------------+------------------+
|9747747.929999461|-168469.6|168469.6|17.987794869617336|17.987794869617336|
+-----------------+---------+--------+------------------+------------------+

In [45]:
preparedDf\
    .select(
        sum("Amount").alias("sum"), 
        min("Amount").alias("min"), 
        max("Amount").alias("max"), 
        avg("Amount").alias("avg"), 
        mean("Amount").alias("mean")
    ).explain()

== Physical Plan ==
AdaptiveSparkPlan isFinalPlan=false
+- HashAggregate(keys=[], functions=[sum(Amount#2679), min(Amount#2679), max(Amount#2679), avg(Amount#2679)])
   +- Exchange SinglePartition, ENSURE_REQUIREMENTS, [plan_id=1467]
      +- HashAggregate(keys=[], functions=[partial_sum(Amount#2679), partial_min(Amount#2679), partial_max(Amount#2679), partial_avg(Amount#2679)])
         +- Project [round((cast(Quantity#2460 as double) * UnitPrice#2462), 2) AS Amount#2679]
            +- FileScan csv [Quantity#2460,UnitPrice#2462] Batched: false, DataFilters: [], Format: CSV, Location: InMemoryFileIndex(305 paths)[file:/C:/Business_Data_Analysis/pyspark_class/data/retail-data/by-da..., PartitionFilters: [], PushedFilters: [], ReadSchema: struct<Quantity:int,UnitPrice:double>

Such highly aggregated data does not provide us much business insight, so we want to see the results for each country. So the first thing we have to do is to define a grouping key to arrange the data to get one group for each country. Than we can aggregate on each group seperately.

In [75]:
preparedDf.groupBy("Country").count().show(10)

+-----------+-----+
|    Country|count|
+-----------+-----+
|     Sweden|  462|
|    Germany| 9495|
|     France| 8557|
|     Greece|  146|
|    Belgium| 2069|
|    Finland|  695|
|      Malta|  127|
|Unspecified|  446|
|      Italy|  803|
|       EIRE| 8196|
+-----------+-----+
only showing top 10 rows

As we already know, rearranging data means, Spark is shuffling partitions around. The explain plan confirms this (*Exchange hashpartitioning*)

In [39]:
preparedDf.groupBy("Country").count().explain()

== Physical Plan ==
AdaptiveSparkPlan isFinalPlan=false
+- HashAggregate(keys=[Country#2464], functions=[count(1)])
   +- Exchange hashpartitioning(Country#2464, 200), ENSURE_REQUIREMENTS, [plan_id=1293]
      +- HashAggregate(keys=[Country#2464], functions=[partial_count(1)])
         +- FileScan csv [Country#2464] Batched: false, DataFilters: [], Format: CSV, Location: InMemoryFileIndex(305 paths)[file:/C:/Business_Data_Analysis/pyspark_class/data/retail-data/by-da..., PartitionFilters: [], PushedFilters: [], ReadSchema: struct<Country:string>

In [76]:
preparedDf.show(50)

+---------+-------------------+---------+--------+---------+------+----------+--------------+
|InvoiceNO|        InvoiceDate|StockCode|Quantity|UnitPrice|Amount|CustomerID|       Country|
+---------+-------------------+---------+--------+---------+------+----------+--------------+
|   580538|2011-12-05 08:38:00|    23084|      48|     1.79| 85.92|     14075|United Kingdom|
|   580538|2011-12-05 08:38:00|    23077|      20|     1.25|  25.0|     14075|United Kingdom|
|   580538|2011-12-05 08:38:00|    22906|      24|     1.65|  39.6|     14075|United Kingdom|
|   580538|2011-12-05 08:38:00|    21914|      24|     1.25|  30.0|     14075|United Kingdom|
|   580538|2011-12-05 08:38:00|    22467|       6|     2.55|  15.3|     14075|United Kingdom|
|   580538|2011-12-05 08:38:00|    21544|      48|     0.85|  40.8|     14075|United Kingdom|
|   580538|2011-12-05 08:38:00|    23126|       8|     4.95|  39.6|     14075|United Kingdom|
|   580538|2011-12-05 08:38:00|    21833|      24|     1.69| 40.56|     14075|United Kingdom|
|   580539|2011-12-05 08:39:00|    21479|       4|     4.25|  17.0|     18180|United Kingdom|
|   580539|2011-12-05 08:39:00|   84030E|       4|     4.25|  17.0|     18180|United Kingdom|
|   580539|2011-12-05 08:39:00|    23355|       4|     4.95|  19.8|     18180|United Kingdom|
|   580539|2011-12-05 08:39:00|    22111|       3|     4.95| 14.85|     18180|United Kingdom|
|   580539|2011-12-05 08:39:00|    21115|       8|     1.95|  15.6|     18180|United Kingdom|
|   580539|2011-12-05 08:39:00|    21411|       8|     1.95|  15.6|     18180|United Kingdom|
|   580539|2011-12-05 08:39:00|    23235|      12|     1.25|  15.0|     18180|United Kingdom|
|   580539|2011-12-05 08:39:00|    23239|       6|     1.65|   9.9|     18180|United Kingdom|
|   580539|2011-12-05 08:39:00|    22197|      36|     0.85|  30.6|     18180|United Kingdom|
|   580539|2011-12-05 08:39:00|    22693|      24|     1.25|  30.0|     18180|United Kingdom|
|   580539|2011-12-05 08:39:00|    22372|       4|     4.25|  17.0|     18180|United Kingdom|
|   580539|2011-12-05 08:39:00|    22375|       4|     4.25|  17.0|     18180|United Kingdom|
|   580539|2011-12-05 08:39:00|    22074|      24|     0.39|  9.36|     18180|United Kingdom|
|   580539|2011-12-05 08:39:00|    22075|      24|     0.39|  9.36|     18180|United Kingdom|
|   580539|2011-12-05 08:39:00|    22076|      24|     0.39|  9.36|     18180|United Kingdom|
|   580539|2011-12-05 08:39:00|    22389|      12|     0.39|  4.68|     18180|United Kingdom|
|   580539|2011-12-05 08:39:00|    22391|      12|     0.39|  4.68|     18180|United Kingdom|
|   580539|2011-12-05 08:39:00|    22393|      12|     0.39|  4.68|     18180|United Kingdom|
|   580539|2011-12-05 08:39:00|    22395|      12|     0.39|  4.68|     18180|United Kingdom|
|   580539|2011-12-05 08:39:00|    22481|      12|     0.39|  4.68|     18180|United Kingdom|
|   580539|2011-12-05 08:39:00|    23320|      12|     1.25|  15.0|     18180|United Kingdom|
|   580539|2011-12-05 08:39:00|    23543|       6|     4.15|  24.9|     18180|United Kingdom|
|   580540|2011-12-05 08:49:00|    23497|      12|     1.45|  17.4|     13417|United Kingdom|
|   580540|2011-12-05 08:49:00|    23498|      12|     1.45|  17.4|     13417|United Kingdom|
|   580540|2011-12-05 08:49:00|    23552|       6|     2.08| 12.48|     13417|United Kingdom|
|   580540|2011-12-05 08:49:00|    22109|       4|     3.75|  15.0|     13417|United Kingdom|
|   580540|2011-12-05 08:49:00|    23556|       3|     12.5|  37.5|     13417|United Kingdom|
|   580540|2011-12-05 08:49:00|    23555|       3|     12.5|  37.5|     13417|United Kingdom|
|   580540|2011-12-05 08:49:00|    23554|       3|     12.5|  37.5|     13417|United Kingdom|
|   580540|2011-12-05 08:49:00|    22466|      12|     1.95|  23.4|     13417|United Kingdom|
|   580540|2011-12-05 08:49:00|    23480|       4|     3.75|  15.0|     13417|United Kingdom|
|   580540|2011-12-05 08:49:00|    23357|       4|     4.95|  19.8|     13417|United Kingdom|
|   580540|2011-12-05 08:49:00|    23358|       6|     3.75|  22.5|     13417|United Kingdom|
|   580540|2011-12-05 08:49:00|    22423|       1|    12.75| 12.75|     13417|United Kingdom|
|   580540|2011-12-05 08:49:00|    79321|       4|     5.75|  23.0|     13417|United Kingdom|
|   580540|2011-12-05 08:49:00|    48194|       4|     8.25|  33.0|     13417|United Kingdom|
|   580540|2011-12-05 08:49:00|    21523|       2|     8.25|  16.5|     13417|United Kingdom|
|   580540|2011-12-05 08:49:00|    23283|       2|     8.25|  16.5|     13417|United Kingdom|
|   580540|2011-12-05 08:49:00|    23472|       2|    14.95|  29.9|     13417|United Kingdom|
|   580540|2011-12-05 08:49:00|    22457|       6|     2.95|  17.7|     13417|United Kingdom|
|   580541|2011-12-05 09:03:00|    22436|      20|     0.65|  13.0|     15358|United Kingdom|
|   580541|2011-12-05 09:03:00|    22439|      24|     0.65|  15.6|     15358|United Kingdom|
+---------+-------------------+---------+--------+---------+------+----------+--------------+
only showing top 50 rows

In [77]:
preparedDf\
    .groupBy("Country")\
    .agg(
        sum("Amount").alias("sum"), 
        min("Amount").alias("min"), 
        max("Amount").alias("max"), 
        avg("Amount").alias("avg"), 
        mean("Amount").alias("mean")
    )\
    .show(10)

+-----------+------------------+--------+-------+------------------+------------------+
|    Country|               sum|     min|    max|               avg|              mean|
+-----------+------------------+--------+-------+------------------+------------------+
|     Sweden|          36595.91| -1188.0| 1188.0| 79.21192640692641| 79.21192640692641|
|    Germany|         221698.21|  -599.5|  876.0|23.348942601369142|23.348942601369142|
|     France|          197403.9|-8322.12|4161.06| 23.06928830197499| 23.06928830197499|
|     Greece|           4710.52|   -50.0|  175.2| 32.26383561643836| 32.26383561643836|
|    Belgium|          40910.96|  -19.95|  165.0|19.773301111648138|19.773301111648138|
|    Finland|          22326.74|   -80.0|  551.2|32.124805755395684|32.124805755395684|
|      Malta|           2505.47|  -130.0|  455.0| 19.72811023622047| 19.72811023622047|
|Unspecified|           4749.79|    0.19|  69.36|  10.6497533632287|  10.6497533632287|
|      Italy|          16890.51|  -89.55|  300.0|21.034259028642587|21.034259028642587|
|       EIRE|263276.82000000024| -1917.0| 2365.2| 32.12259882869695| 32.12259882869695|
+-----------+------------------+--------+-------+------------------+------------------+
only showing top 10 rows

And just to remind myself: we could do this all using  our good-old SQL. (ref. <a href="https://docs.databricks.com/spark/latest/spark-sql/language-manual/index.html">SQL Language Reference</a> provided by Databricks)

In [78]:
preparedDf.createOrReplaceTempView("retailTable")

spark.sql("""
    SELECT 
        Country, sum(Amount) as sum, min(Amount) as min, max(Amount) as max, 
        avg(Amount) as avg, mean(Amount) as mean 
    FROM retailTable
    GROUP BY Country""").show(10)

+-----------+------------------+--------+-------+------------------+------------------+
|    Country|               sum|     min|    max|               avg|              mean|
+-----------+------------------+--------+-------+------------------+------------------+
|     Sweden|          36595.91| -1188.0| 1188.0| 79.21192640692641| 79.21192640692641|
|    Germany|         221698.21|  -599.5|  876.0|23.348942601369142|23.348942601369142|
|     France|          197403.9|-8322.12|4161.06| 23.06928830197499| 23.06928830197499|
|     Greece|           4710.52|   -50.0|  175.2| 32.26383561643836| 32.26383561643836|
|    Belgium|          40910.96|  -19.95|  165.0|19.773301111648138|19.773301111648138|
|    Finland|          22326.74|   -80.0|  551.2|32.124805755395684|32.124805755395684|
|      Malta|           2505.47|  -130.0|  455.0| 19.72811023622047| 19.72811023622047|
|Unspecified|           4749.79|    0.19|  69.36|  10.6497533632287|  10.6497533632287|
|      Italy|          16890.51|  -89.55|  300.0|21.034259028642587|21.034259028642587|
|       EIRE|263276.82000000024| -1917.0| 2365.2| 32.12259882869695| 32.12259882869695|
+-----------+------------------+--------+-------+------------------+------------------+
only showing top 10 rows

## Aggregating on Floating Windows

Having the average amount per country over the entire data set history of aprox. one year is still very high-level. we would like to make a time-series analysis on the invoice mounts. So the first thing we have to do is to include the *InvoiceDate* column into the grouping key.

In [47]:
preparedDf\
    .groupBy("Country", "InvoiceDate")\
    .agg( 
        avg("Amount").alias("avg")
    )\
    .orderBy("Country")\
    .show(10)

+---------+-------------------+------------------+
|  Country|        InvoiceDate|               avg|
+---------+-------------------+------------------+
|Australia|2010-12-01 10:03:00|25.589285714285715|
|Australia|2011-10-05 12:44:00|193.13296296296298|
|Australia|2010-12-17 14:10:00|             41.57|
|Australia|2011-11-24 12:30:00|35.800000000000004|
|Australia|2011-11-02 12:03:00|            624.24|
|Australia|2011-10-06 09:31:00|21.813333333333325|
|Australia|2011-10-06 09:32:00|17.959999999999997|
|Australia|2011-09-28 15:41:00|             20.86|
|Australia|2011-11-15 10:32:00|189.45384615384617|
|Australia|2011-11-03 11:26:00| 75.04799999999999|
+---------+-------------------+------------------+
only showing top 10 rows

Since *InvoiceDate* is actually a timestamp, now we have to much details because approximaly each row is representig one invoice. To reduce the noice in  our time series due to volatile invoice amounts, we would like to calculate rolling 7-day average amounts. Grouping the data does not help us here because this would assign each row to ecactly one group. Now each row should be member of seven overlapping time windows each spanning over seven days.

So first, we have to define how to generate 7-day time windows. Than we can aggregate, averaging in particular, the amounts in each window. 

Ok, how can we define sliding windows? Maybe the sub-module `pyspark.sql.window` can help here?
To get sliding time windows for each country, we have to partition the data by that column. Next we have to order the data along the date because the window boundaries are based on it. Finally we define the bounderies based on the date **values** relative to the date of the current row. Since there can be more than one row per day we cannot use rowsBetween() which is **position** based. Instead `rangeBetween()` seems more suitable here.

In [43]:
from pyspark.sql.window import Window

sevenDayWindows = Window\
    .partitionBy("Country")\
    .orderBy("InvoiceDate")\
    .rangeBetween(-7, Window.currentRow)

Now we can apply  our `avg()` aggregation on each timewindow.

In [44]:
preparedDf.select(
    "Country",
    "InvoiceDate",
    avg("Amount").over(sevenDayWindows).alias("7-day-avg")
).show(10)

AnalysisException: cannot resolve '(PARTITION BY Country ORDER BY InvoiceDate ASC NULLS FIRST RANGE BETWEEN -7L FOLLOWING AND CURRENT ROW)' due to data type mismatch: The data type 'timestamp' used in the order specification does not match the data type 'bigint' which is used in the range frame.;
'Project [Country#2464, InvoiceDate#2461, avg(Amount#2679) windowspecdefinition(Country#2464, InvoiceDate#2461 ASC NULLS FIRST, specifiedwindowframe(RangeFrame, -7, currentrow$())) AS 7-day-avg#4879]
+- Project [InvoiceNO#2457, InvoiceDate#2461, StockCode#2458, Quantity#2460, UnitPrice#2462, round((cast(Quantity#2460 as double) * UnitPrice#2462), 2) AS Amount#2679, cast(CustomerID#2463 as int) AS CustomerID#2680, Country#2464]
   +- Relation [InvoiceNo#2457,StockCode#2458,Description#2459,Quantity#2460,InvoiceDate#2461,UnitPrice#2462,CustomerID#2463,Country#2464] csv

Ups, what' wrong now? The trace strack states:
> data type mismatch: The data type 'date' used in the order specification does not match the data type 'bigint' which is used in the range frame

Ok, `Window.rangeBetween()` is obviously only suitable for integer ranges but not for date ranges. Fortunately there is another `window()` function available from sub-module `pyspark.sql.function`. The pyspark  <a href="https://spark.apache.org/docs/2.4.5/api/python/pyspark.sql.html#module-pyspark.sql.functions">documentation</a> says:
> pyspark.sql.functions.window(*timeColumn, windowDuration, slideDuration=None, startTime=None*)

> Bucketize rows into one or more time windows given a timestamp specifying column. Window starts are inclusive but the window ends are exclusive

we want to have 7-day windows sliding every day.

In [48]:
preparedDf\
    .groupBy(
        "Country", 
        window(timeColumn="InvoiceDate", windowDuration="7 days", slideDuration="1 day").alias("7-day windows")
    )\
    .agg(avg("Amount").alias("avg"))\
    .orderBy("Country", "7-day windows")\
    .show(20, truncate=False)

+---------+------------------------------------------+------------------+
|Country  |7-day windows                             |avg               |
+---------+------------------------------------------+------------------+
|Australia|{2010-11-24 19:00:00, 2010-12-01 19:00:00}|25.589285714285715|
|Australia|{2010-11-25 19:00:00, 2010-12-02 19:00:00}|25.589285714285715|
|Australia|{2010-11-26 19:00:00, 2010-12-03 19:00:00}|25.589285714285715|
|Australia|{2010-11-27 19:00:00, 2010-12-04 19:00:00}|25.589285714285715|
|Australia|{2010-11-28 19:00:00, 2010-12-05 19:00:00}|25.589285714285715|
|Australia|{2010-11-29 19:00:00, 2010-12-06 19:00:00}|25.589285714285715|
|Australia|{2010-11-30 19:00:00, 2010-12-07 19:00:00}|25.589285714285715|
|Australia|{2010-12-01 19:00:00, 2010-12-08 19:00:00}|32.362500000000004|
|Australia|{2010-12-02 19:00:00, 2010-12-09 19:00:00}|32.362500000000004|
|Australia|{2010-12-03 19:00:00, 2010-12-10 19:00:00}|32.362500000000004|
|Australia|{2010-12-04 19:00:00, 2010-12-11 19:00:00}|32.362500000000004|
|Australia|{2010-12-05 19:00:00, 2010-12-12 19:00:00}|32.362500000000004|
|Australia|{2010-12-06 19:00:00, 2010-12-13 19:00:00}|32.362500000000004|
|Australia|{2010-12-07 19:00:00, 2010-12-14 19:00:00}|21.013636363636365|
|Australia|{2010-12-08 19:00:00, 2010-12-15 19:00:00}|-9.25             |
|Australia|{2010-12-09 19:00:00, 2010-12-16 19:00:00}|-9.25             |
|Australia|{2010-12-10 19:00:00, 2010-12-17 19:00:00}|29.842307692307692|
|Australia|{2010-12-11 19:00:00, 2010-12-18 19:00:00}|29.842307692307692|
|Australia|{2010-12-12 19:00:00, 2010-12-19 19:00:00}|29.842307692307692|
|Australia|{2010-12-13 19:00:00, 2010-12-20 19:00:00}|29.842307692307692|
+---------+------------------------------------------+------------------+
only showing top 20 rows

## Aggregating on Group Sets
Now we want to drill down and analyse the biggest amounts on levels starting on country level.

In [79]:
preparedDf\
    .where("StockCode = 22423 or StockCode = 22086")\
    .groupBy("Country")\
    .agg(sum("Amount").alias("sum_amount"))\
    .select("Country", round("sum_amount", 2).alias("Total Amount"))\
    .orderBy("Country", desc("Total Amount"))\
    .show(10)

+---------------+------------+
|        Country|Total Amount|
+---------------+------------+
|      Australia|      2090.3|
|        Austria|        51.0|
|        Bahrain|        25.5|
|        Belgium|      599.25|
|         Brazil|       175.2|
|         Canada|       12.75|
|Channel Islands|       624.0|
|         Cyprus|       382.5|
|           EIRE|     8524.35|
|        Finland|       38.25|
+---------------+------------+
only showing top 10 rows

To go further deeper on StockCode level, we just need to  add this column to the grouping key.

In [50]:
preparedDf\
    .where("StockCode = 22423 or StockCode = 22086")\
    .groupBy("Country", "StockCode")\
    .agg(sum("Amount").alias("sum_amount"))\
    .select("Country", "StockCode", round("sum_amount", 2).alias("Total Amount"))\
    .orderBy("Country", desc("Total Amount"))\
    .show(10)

+---------------+---------+------------+
|        Country|StockCode|Total Amount|
+---------------+---------+------------+
|      Australia|    22423|      1978.2|
|      Australia|    22086|       112.1|
|        Austria|    22423|        51.0|
|        Bahrain|    22423|        25.5|
|        Belgium|    22423|      599.25|
|         Brazil|    22423|       175.2|
|         Canada|    22423|       12.75|
|Channel Islands|    22423|       517.8|
|Channel Islands|    22086|       106.2|
|         Cyprus|    22423|       382.5|
+---------------+---------+------------+
only showing top 10 rows

By adding more and more columns, I'll get more granular figures, but we will see only the figures on the most detailed level. What should we do to get the sums on all higher levels as well?
### Rollup
All we need to do is just rolling up the detaild sums up to the top level. Actually we just need to change one word in the code, replacing `groupBy()` by `rollup()`.

In [51]:
preparedDf\
    .where("StockCode = 22423 or StockCode = 22086")\
    .rollup("Country", "StockCode")\
    .agg(sum("Amount").alias("sum_amount"))\
    .select("Country", "StockCode", round("sum_amount", 2).alias("Total Amount"))\
    .orderBy("Country", desc("Total Amount"))\
    .show(10)

+---------+---------+------------+
|  Country|StockCode|Total Amount|
+---------+---------+------------+
|     null|     null|   228554.13|
|Australia|     null|      2090.3|
|Australia|    22423|      1978.2|
|Australia|    22086|       112.1|
|  Austria|    22423|        51.0|
|  Austria|     null|        51.0|
|  Bahrain|     null|        25.5|
|  Bahrain|    22423|        25.5|
|  Belgium|     null|      599.25|
|  Belgium|    22423|      599.25|
+---------+---------+------------+
only showing top 10 rows

### Cube
Rolling up aggregations is strongly hierarchical. Now we have the total by country and the sub-total per StockCode per country. But we need the total per StockCode across all countries as well. More generla, I( want to slice and dice the data along each dimension independently from other dimensions, like we can do in relational star schemas.

Again, there is only one little piece to tbe changed in the code: using `cube()` instead of `rollup()`.

In [58]:
preparedDf\
    .where("StockCode = 22423 or StockCode = 22086")\
    .cube("Country", "StockCode")\
    .agg(sum("Amount").alias("sum_amount"))\
    .select("Country", "StockCode", round("sum_amount", 2).alias("Total Amount"))\
    .orderBy("Country", desc("Total Amount"))\
    .show(10)

+---------+---------+------------+
|  Country|StockCode|Total Amount|
+---------+---------+------------+
|     null|     null|   228554.13|
|     null|    22423|   164762.19|
|     null|    22086|    63791.94|
|Australia|     null|      2090.3|
|Australia|    22423|      1978.2|
|Australia|    22086|       112.1|
|  Austria|    22423|        51.0|
|  Austria|     null|        51.0|
|  Bahrain|     null|        25.5|
|  Bahrain|    22423|        25.5|
+---------+---------+------------+
only showing top 10 rows

Now, the second row shows the total for StockCode 22423 across all countries (Country is null ) whereas the fourth row shows the total across StockCodes (StockCode is null) for Australia.

Another nice feature is `grouping_id()` which is a special aggregation function. Starting with 0 at the lowest level, the group_id provides the aggregation level in ascending order so we could easily filter on specific detail levels.

In [59]:
preparedDf\
    .where("StockCode = 22423 or StockCode = 22086")\
    .cube("Country", "StockCode")\
    .agg(sum("Amount").alias("sum_amount"), grouping_id().alias("Level"))\
    .select("Country", "StockCode", round("sum_amount", 2).alias("Total Amount"), "Level")\
    .orderBy("Country", desc("Total Amount"))\
    .show(10)

+---------+---------+------------+-----+
|  Country|StockCode|Total Amount|Level|
+---------+---------+------------+-----+
|     null|     null|   228554.13|    3|
|     null|    22423|   164762.19|    2|
|     null|    22086|    63791.94|    2|
|Australia|     null|      2090.3|    1|
|Australia|    22423|      1978.2|    0|
|Australia|    22086|       112.1|    0|
|  Austria|    22423|        51.0|    0|
|  Austria|     null|        51.0|    1|
|  Bahrain|     null|        25.5|    1|
|  Bahrain|    22423|        25.5|    0|
+---------+---------+------------+-----+
only showing top 10 rows

In  our example the aggregation hierarchy looks like this:

3: overall total

2: StockCode total

1: Country total

0: StockCode & Country total

Ok, why has StockCode a higher aggregation level than Country? The answer is, they are numbered according to their order in `cube("Country", "StockCode")`, so Country comes first.

### Pivot

Finally we want to analyse the data for two countries, Germany and Australia, across all StockCode, which can be quite a lot, and we want to compare the German with the Australian figures. Therefore we want to have the totaly by country lined-up in columns. By calling the `pivot()` function, we can flip the country totals from rows to columns.

In [54]:
preparedDf\
    .where("Country = 'Australia' or Country = 'Germany'")\
    .groupBy("StockCode")\
    .pivot("Country")\
    .sum("Amount")\
    .orderBy("StockCode")\
    .show(19)

+---------+---------+------------------+
|StockCode|Australia|           Germany|
+---------+---------+------------------+
|    10002|     null|              0.85|
|    10125|     null|              84.8|
|    10135|     null|             212.0|
|    11001|     null|             54.08|
|    15034|     null|              3.36|
|    15036|    432.0| 853.3200000000002|
|    15039|     null|              0.85|
|   15044A|     null|              88.5|
|   15044B|     null|              35.4|
|   15044D|     null|53.099999999999994|
|  15056BL|    17.85|           1100.25|
|   15056N|     null|            695.65|
|   15056P|     null| 564.7500000000001|
|   15058A|     null|              15.9|
|   15058B|     null|              15.9|
|   15058C|     null|              39.5|
|   15060B|     null|              90.0|
|    16008|     null|              8.64|
|    16011|     null|             20.16|
+---------+---------+------------------+
only showing top 19 rows

## Further Statistical Functions on DataFrames
`DataFrame` objects have also some statistical methods. In contrast to the aggregation functions, they always apply on the entire DataFrame data set and cannot be applied on data groups whithin a DataFrame.
* **approxQuantile(col, probabilities, relativeError)**
* **corr()**
* **count()**
* **cov()**
* **crosstab()**
* **describe()** alias **summary()**

The `describe()` method is quite interesting because it computes basic statistics (count, mean, stddev, min, and max) for numeric and string columns eventhough ean, stddev, min, and max are not available as `DataFrame` object methods.

In [55]:
preparedDf.describe("Amount").show()

+-------+------------------+
|summary|            Amount|
+-------+------------------+
|  count|            541909|
|   mean|17.987794869617336|
| stddev| 378.8108235063262|
|    min|         -168469.6|
|    max|          168469.6|
+-------+------------------+

## DataFrameStatFunctions

Each `DataFrame` object has an `na` property referencing a `DataFrameStatFunctions` object which provides statisical object methods. Some of them are just aliases of `DataFrame` object methods, e.g.:

* df.**corr()** alias df.**na.corr()** - calculates the Pearson Correlation Coefficient of two columns of a DataFrame as a double value
* df.**cov()** alias df.**na.cov()** - calculate the sample covariance for the given columns, specified by their names, as a double value
* df.**crosstab()** alias df.**na.crosstab()** - computes a pair-wise frequency table of the given columns. Also known as a contingency table

we've no clue about the reason for this duplication.

In [61]:
preparedDf.columns

['InvoiceNO',
 'InvoiceDate',
 'StockCode',
 'Quantity',
 'UnitPrice',
 'Amount',
 'CustomerID',
 'Country']

In [62]:
preparedDf.corr("Quantity","UnitPrice")

-0.0012349245448702957

In [65]:
preparedDf.crosstab('StockCode','Country').show()

+-----------------+---------+-------+-------+-------+------+------+---------------+------+--------------+-------+----+------------------+-------+------+-------+------+---------+-------+------+-----+-----+-------+---------+-----+-----------+------+------+--------+---+------------+---------+-----+------+-----------+---+--------------------+--------------+-----------+
|StockCode_Country|Australia|Austria|Bahrain|Belgium|Brazil|Canada|Channel Islands|Cyprus|Czech Republic|Denmark|EIRE|European Community|Finland|France|Germany|Greece|Hong Kong|Iceland|Israel|Italy|Japan|Lebanon|Lithuania|Malta|Netherlands|Norway|Poland|Portugal|RSA|Saudi Arabia|Singapore|Spain|Sweden|Switzerland|USA|United Arab Emirates|United Kingdom|Unspecified|
+-----------------+---------+-------+-------+-------+------+------+---------------+------+--------------+-------+----+------------------+-------+------+-------+------+---------+-------+------+-----+-----+-------+---------+-----+-----------+------+------+--------+---+------------+---------+-----+------+-----------+---+--------------------+--------------+-----------+
|            20778|        0|      0|      0|      0|     0|     0|              0|     0|             0|      0|   0|                 0|      0|     0|      0|     0|        0|      0|     0|    0|    0|      0|        0|    0|          0|     0|     0|       0|  0|           0|        0|    0|     0|          0|  0|                   0|            10|          0|
|           90011E|        0|      0|      0|      0|     0|     0|              0|     0|             0|      0|   0|                 0|      0|     0|      0|     0|        0|      0|     0|    0|    0|      0|        0|    0|          0|     0|     0|       0|  0|           0|        0|    0|     0|          0|  0|                   0|             3|          0|
|            22578|        0|      0|      0|      0|     0|     0|              0|     0|             1|      0|  15|                 0|      1|     6|      3|     0|        0|      0|     0|    0|    0|      0|        0|    0|          0|     0|     0|       2|  0|           0|        1|    4|     1|          0|  0|                   0|           502|          0|
|            21476|        0|      0|      0|      0|     0|     0|              0|     0|             0|      0|   0|                 0|      0|     0|      0|     0|        0|      0|     0|    0|    0|      0|        0|    0|          0|     0|     0|       0|  0|           0|        0|    0|     0|          0|  0|                   0|            24|          0|
|            21327|        0|      0|      0|      1|     0|     0|              0|     0|             0|      0|   0|                 0|      0|     0|      0|     0|        0|      0|     0|    0|    0|      0|        0|    0|          0|     0|     0|       0|  0|           0|        0|    0|     0|          0|  0|                   0|           255|          0|
|            22064|        0|      0|      0|      1|     0|     1|              0|     0|             0|      0|   1|                 0|      1|     2|      7|     0|        0|      0|     0|    1|    0|      0|        0|    1|          0|     1|     0|       0|  0|           0|        0|    0|     0|          1|  0|                   0|           249|          0|
|            21080|        3|      1|      0|      8|     0|     0|              5|     0|             0|      0|  15|                 0|      2|    52|     27|     0|        0|      0|     1|    1|    3|      0|        0|    0|          6|     3|     0|       6|  0|           0|        0|    9|     0|          5|  0|                   0|           868|          0|
|           90179A|        0|      0|      0|      0|     0|     0|              0|     0|             0|      0|   0|                 0|      0|     0|      0|     0|        0|      0|     0|    0|    0|      0|        0|    0|          0|     0|     0|       0|  0|           0|        0|    0|     0|          0|  0|                   0|             5|          0|
|            22219|        1|      0|      0|      0|     0|     0|              0|     0|             0|      0|   1|                 0|      0|     3|      0|     0|        0|      0|     0|    0|    0|      0|        0|    0|          1|     0|     0|       0|  0|           0|        0|    1|     0|          0|  0|                   0|           554|          0|
|            84452|        0|      0|      0|      0|     0|     0|              0|     0|             0|      0|   1|                 0|      0|     0|      0|     0|        0|      0|     0|    0|    0|      0|        0|    0|          0|     0|     0|       0|  0|           0|        0|    0|     0|          0|  0|                   0|            17|          0|
|            37447|        0|      1|      0|      1|     0|     0|              0|     0|             0|      0|   1|                 0|      1|     0|      9|     0|        0|      0|     0|    0|    0|      0|        0|    1|          0|     0|     3|       2|  0|           0|        0|    2|     0|          1|  0|                   0|            99|          0|
|            21908|        0|      0|      0|      2|     0|     0|              1|     0|             0|      0|   5|                 0|      0|     4|      2|     0|        0|      0|     0|    0|    0|      0|        0|    0|          0|     4|     0|       1|  0|           0|        0|    2|     0|          0|  0|                   1|           455|          1|
|           90067B|        0|      0|      0|      0|     0|     0|              0|     0|             0|      0|   0|                 0|      0|     0|      0|     0|        0|      0|     0|    0|    0|      0|        0|    0|          0|     0|     0|       0|  0|           0|        0|    0|     0|          0|  0|                   0|             2|          0|
|            23398|        0|      0|      0|      1|     0|     0|              0|     0|             0|      0|   2|                 0|      0|     1|      0|     0|        0|      0|     0|    0|    0|      0|        0|    0|          1|     0|     0|       1|  0|           0|        0|    0|     0|          0|  0|                   0|            73|          0|
|            22818|        2|      2|      0|      0|     0|     0|              0|     1|             0|      0|   1|                 0|      0|     6|      5|     0|        0|      0|     0|    0|    0|      0|        0|    1|          0|     0|     0|       0|  0|           0|        0|    0|     0|          0|  2|                   0|           229|          0|
|            22285|        0|      0|      0|      0|     0|     0|              0|     0|             0|      0|   1|                 0|      0|     1|      0|     0|        0|      0|     0|    0|    0|      0|        0|    0|          0|     0|     0|       1|  0|           0|        0|    0|     0|          0|  0|                   0|           121|          0|
|            23268|        1|      0|      0|      0|     0|     0|              1|     0|             0|      0|   2|                 1|      0|     3|      3|     0|        0|      0|     0|    0|    0|      0|        0|    1|          3|     0|     0|       0|  0|           0|        0|    0|     0|          1|  0|                   0|            80|          1|
|          15056BL|        1|      2|      0|      3|     1|     0|              0|     0|             0|      0|  14|                 0|      1|    18|     16|     0|        0|      0|     0|    0|    0|      0|        1|    0|          0|     1|     3|       0|  0|           0|        0|    0|     0|          2|  0|                   0|           263|          0|
|            72817|        0|      1|      0|      0|     0|     0|              0|     0|             0|      0|   6|                 0|      1|     0|      1|     0|        0|      0|     0|    0|    0|      0|        0|    0|          0|     0|     0|       0|  0|           0|        0|    1|     0|          1|  0|                   0|           157|          0|
|            22545|        3|      0|      0|      1|     0|     0|              0|     0|             0|      0|   1|                 0|      0|     0|      0|     0|        0|      0|     0|    0|    0|      0|        0|    0|          1|     0|     0|       0|  0|           0|        1|    0|     0|          1|  0|                   0|            69|          0|
+-----------------+---------+-------+-------+-------+------+------+---------------+------+--------------+-------+----+------------------+-------+------+-------+------+---------+-------+------+-----+-----+-------+---------+-----+-----------+------+------+--------+---+------------+---------+-----+------+-----------+---+--------------------+--------------+-----------+
only showing top 20 rows